atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.6.3
certifi==2018.11.29
chardet==3.0.4
coverage==4.5.2
coverage-badge==0.2.0
flake8==3.6.0
idna==2.8
-e git+https://github.com/reaper47/job-search-aggregator.git@0db2f5d3eb8052fc55b2074c694e49615c08878a#egg=job_search
mccabe==0.6.1
more-itertools==4.3.0
pluggy==0.8.0
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
PySide2==5.12.0
pytest==4.0.1
pytest-cov==2.6.0
requests==2.21.0
shiboken2==5.12.0
six==1.12.0
SQLAlchemy==1.2.15
urllib3==1.24.1
